<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Email Sent !</title>
</head>
<body>

    <div class="container">
    <div class="alert alert-success  mt-5" role="alert">
        <h4 class="alert-heading">Your Message has been sent !</h4>
        <p>Will get back to you as soon as possible</p>
        <hr>
        <a href="{% url 'home' %}"><button class="btn btn-success">Go Back</button></a>

    </div>
    </div>
</body>
</html>